/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    padding: 10px 20px;
    background-color: #11084b; /* Blue background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed; /* Ensure navbar stays at the top */
    top: 0;
    width: 100%;
    z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 280px; /* Adjust the logo size */
    height: auto; /* Maintain aspect ratio */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff; /* White text */
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a.active, 
.nav-links a:hover {
    color: #ff27c3; /* Pink for hover and active state */
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon img {
    width: 40px; /* Adjust size for consistency */
    height: 40px;
    border-radius: 50%; /* Circle image */
    object-fit: cover;
    margin-right: 60px;
}
